<div class="profile">
    {{- with site.Params.profileMode }}
    <div class="profile_inner">
        <h1>{{ .title | default site.Title | markdownify }}</h1>
        <span>{{ .subtitle | markdownify }}</span>
        {{- if .videoUrl -}}
        <style>
            .video-container {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 aspect ratio */
                height: 0;
                overflow: hidden;
                max-width: 100%;
                margin-top: 10px;
            }

            .video-container video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        </style>
        <div class="video-container">
            <video controls poster="{{ .imageUrl | absURL }}">
                <source src="{{ .videoUrl }}" type="video/webm">
                Your browser does not support the video tag.
            </video>
        </div>
        {{- end }}

        {{- if .description -}}
        <div class="profile_description">
            {{ .description | markdownify }}
        </div>
        {{- end }}

        {{- partial "social_icons.html" site.Params.socialIcons -}}

        {{- with .buttons }}
        <div class="buttons">
            {{- range . }}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name }}">
            <span class="button-inner">
                {{ .name }}
                </span>
            </a>
            {{- end }}
        </div>
        {{- end }}
        {{- if .contactInfo -}}
        <div style="margin-top: 30px;">
            <h4>Contact</h4>
            <a href="{{ .contactInfo.url }}">{{ .contactInfo.web }}</a><br>
            <a href="mailto:{{ .contactInfo.mail }}">{{ .contactInfo.name }}</a>
        </div>
        {{- end }}
    </div>
    {{- end}}
</div>
