<div class="profile">
    {{- with site.Params.profileMode }}
    <div class="profile_inner">
        <h1>{{ .title | default site.Title | markdownify }}</h1>
        <span>{{ .subtitle | markdownify }}</span>
        {{- if .imageUrl -}}
        <img draggable="false" src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default "profile image" }}" title="{{ .imageTitle }}" class="profile-banner"/>
        {{- end }}
        {{- partial "social_icons.html" site.Params.socialIcons -}}

        {{- with .buttons }}
        <div class="buttons">
            {{- range . }}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name }}">
                <span class="button-inner">
                {{ .name }}
                </span>
            </a>
            {{- end }}
        </div>
        {{- end }}
        {{- if .contactInfo -}}
        <div style="margin-top: 30px;">
            <h4>Contact</h4>
            <a href="{{ .contactInfo.url }}">{{ .contactInfo.web }}</a><br>
            <a href="mailto:{{ .contactInfo.mail }}">{{ .contactInfo.name }}</a>
        </div>
        {{- end }}
    </div>
    {{- end}}
</div>
