---
title: Taranis AI
heroUrl: /assess_landing_page.png
videoUrl: /taranis-walkthrough-video.webm
features:
  - title: Asynchronus Task Queue
    icon: fas fa-list-check
    description: >
      Task queue via [Celery](https://docs.celeryq.dev/) for asynchronous news item processing
  - title: Modern NLP features like entity recognition and summary creation
    icon: fas fa-brain
    description: >
      Modern NLP features like entity recognition and summary creation
  - title: Story clustering to reduce analyst workload
    icon: fas fa-layer-group
    description: >
      Story clustering to reduce analyst workload
  - title: Recognizes cybersecurity terms like APTs, CVEs, IoCs
    icon: fas fa-shield-alt
    description: >
      Recognizes cybersecurity terms like APTs, CVEs, IoCs
  - title: Advanced search and filters for item management
    icon: fas fa-search-plus
    description: >
      Advanced search and filters for item management like tags, sources, and more
  - title: Taranis Workflow
    icon: fas fa-project-diagram
    description: >
      The Taranis Workflow from former versions of Taranis has been integrated into Taranis AI
---

{{< blocks/cover image_anchor="top" >}}
<p class="mt-2 mb-4">
  <img src="logo.svg" alt="Taranis AI Logo" width="50%"/>
</p>
<a class="btn btn-lg btn-primary me-3 mb-4" href="/docs/">
  Documentation <i class="fas fa-book"></i>
</a>
<a class="btn btn-lg btn-secondary me-3 mb-4" href="https://github.com/taranis-ai/taranis-ai">
  GitHub <i class="fab fa-github ms-2 "></i>
</a>
<p class="lead mt-5"><b>Taranis AI</b> is an advanced Open-Source Intelligence (OSINT) tool, leveraging Artificial Intelligence to revolutionize information gathering and situational analysis.</p>

<p class="mt-5">
<a class="btn btn-lg me-3 mb-4" href="https://github.com/taranis-ai/taranis.ai/blob/master/static/2023_IKTSichKonf_AWAKE_v3.pdf">
  Presentation <i class="fa-regular fa-file-pdf"></i>
</a>
</p>
{{< home/video >}}

{{< /blocks/cover >}}

{{% blocks/section color="white" %}}
{{< home/features >}}
{{% /blocks/section %}}

{{% blocks/section color="white" %}}
  <p class="footer_attribution">
    This project was inspired by <a href="https://github.com/NCSC-NL/taranis3">Taranis3</a>, as well as by <a href="https://github.com/SK-CERT/Taranis-NG/">Taranis-NG</a>.
    It is released under terms of the <a href="https://eupl.eu/1.2/en/">European Union Public Licence</a>.
  </p>
  <p>
    <img class="footer-img" src="/en_horizontal_cef_logo_2.png" alt="Co-financed by the Connecting Europe Facility of the European Union">
  </p>
{{% /blocks/section %}}
